.view-wrapper{
  margin: 10px;
}
.play-button {
  width: 100px;
  display: block;
  margin: 10px;
  border-radius: 6px;
  margin-left: 25px;
}
.player-hand {
  width: 150px;
  height: 300px;
  border: 1px black solid;
  float: left;
  margin-right: 10px;
  display: block;
}

.player-hand-header {
  text-align: center;
}

.player-hand-front-layer {
  width: 100%;
  height: 100%;
}

.fill-width {
  width: 100%;
  height: 20px;
}

.centered {
  margin: auto;
}

.player-point-bar {
  background-color: #0ff;
  height: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  text-align: center;
  float: left;
}

.wrapper {
  margin-left: 20px;
}

.unused-point-bar {
   background: linear-gradient(grey, #eee, grey); */
  color: #000;
  height: 20px;
  margin-bottom: 5px;
  text-align: center;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.ai-point-bar {
  background-color: #f00;
  height: 20px;
  margin-bottom: 5px;
  text-align: center;
  float: left;
}

.point-bar {
  display: block;
  clear: both;
}

.netral-area {
  width: 300px;
  height: 300px;
  border: 1px black solid;
  float: left;
  display: block;
  text-align: center;
  margin-right: 10px;
}
